<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=0.5" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <title></title>
</head>

<body>
  <div id="wrap">
    <!-- 用户信息 -->
    <div class="user-info" v-if='userData.show'>
      <span class="icon-head" :class='pageInfo.vipType == 1 ? "vip1" :pageInfo.vipType == 2 ? "vip2" : "vip3" '></span>
      <span id="tel">{{userData.tel}}</span>
      <span class="split-line"></span>
      <span class="icon-dou"></span>
      <span>快乐豆:<span id="total">{{userData.bal}}</span></span>
    </div>


    <div class="btns-box">
      <button tabindex="1" id='cd' @click='lotterHand($event)' v-focus class="cd"></button>
      <button tabindex="1" @click='myPrize($event)' id='my_prize' class="my-prize" disabled></button>
      <button tabindex="1" @click='rule($event)' class="rule"></button>
      <div class="rabit">

      </div>
    </div>

    <!-- 奖品列表 -->
    <div class="prize-list">
      <ul>
        <li>
          <div class="img"></div>

          <p>游戏手柄</p>
        </li>
        <li>
          <div class="img"></div>

          <p>游戏手柄</p>
        </li>
        <li>
          <div class="img"></div>

          <p>游戏手柄</p>
        </li>
        <li>
          <div class="img"></div>

          <p>游戏手柄</p>
        </li>
        <li>
          <div class="img"></div>

          <p>游戏手柄</p>
        </li>
      </ul>
    </div>

    <!-- 弹窗 -->
    <div ref='shadow' class="shadow" v-show='shadow_data.show'>

      <!-- 通用弹窗 -->
      <div v-show='!shadow_data.type' id="nomal" class="nomal">
        <div class="content" v-html='shadow_data.nomal'>
          <div class="game-end">
            <h4>活动已结束</h4>
            <p>下期活动更精彩</p>
            <p class="text-orang">敬请期待</p>
          </div>
        </div>
        <button data-type='0' @click='closePage' v-focus class="btn"></button>
      </div>

      <!-- 次数用完 -->
      <div v-show='shadow_data.type == 1' id="notime">
        <div class="content">
          <template v-if='pageInfo.vipType == 2'>
            <p>你今日钓花灯次数已用完</p>
            <p> 体验会员到期后，成为会员 </p>
            <p>可在免费垂钓2次哦~</p>
          </template>
          <template v-if='pageInfo.vipType == 3'>
            <p></p>
            <p> 你今日钓花灯次数已用完 </p>
            <p>成为会员，可免费垂钓2次哦~</p>
          </template>
          <template v-if='pageInfo.vipType == 1'>
            <p></p>
            <p> 你今日钓花灯次数已用完 </p>
            <p>明天再来吧~</p>
          </template>
        </div>
        <button data-type='1' @click='closeShadow' v-focus v-if='pageInfo.vipType == 1 || pageInfo.vipType == 2'
          class="btn"></button>
        <!-- 可转化按钮 -->
        <button data-type='1' @click='byVip' v-focus v-else class="btn be-vip"></button>
      </div>

      <!-- 中奖弹窗 -->
      <div v-show='shadow_data.type == 2' id="prize">
        <div class="content">
          <div class="title">恭喜你钓上了</div>
          <div class="img-box">
            <img :src="prizeData.prizeImg" alt="">
          </div>
          <p class="name">{{prizeData.prizeName}}</p>
        </div>
        <button data-type='2' @click='closeShadow' v-focus v-if='pageInfo.vipType == 1 || pageInfo.vipType == 2'
          class="btn"></button>
        <button data-type='2' @click='byVip' v-focus v-else class="btn be-vip"></button>
      </div>

      <!-- 未中奖 -->
      <div v-show='shadow_data.type == 3' id="no_prize">
        <div class="content">
          <div class="title">很遗憾，差一点</div>
          <div class="img-box">

          </div>
        </div>
        <button data-type='3' @click='closeShadow' v-focus v-if='pageInfo.vipType == 1 || pageInfo.vipType == 2'
          class="btn"></button>
        <button data-type='3' @click='byVip' v-focus v-else class="btn be-vip"></button>
      </div>

      <!-- 我的奖品 -->
      <div v-show='shadow_data.type == 4' id="my_prize">
        <div class="empty" v-show='shadow_data.prize == 9'>
          <div class="text-box">
            <h4>你的奖品空空如也~</h4>
            <p>快去钓花灯获取奖励吧！</p>
          </div>
        </div>
        <div class="codes" v-show='shadow_data.prize == 1'>
          <div class="l">
            <div class="content">
              <div class="text-box">
                <h4>你的奖品空空如也~</h4>
                <p>快去钓花灯获取奖励吧！</p>
              </div>
            </div>
          </div>
          <div class="r">
            <div class="title">{{winningCode.length ? winningCode[0].prizeName : ''}}</div>
            <div class="code-bg">
              <p>
                {{winningCode.length ? winningCode[0].content : ''}}
              </p>
            </div>
            <div class="qr-code">
              <!-- <img :src="imgs.code2" alt=""> -->
              <div class="code-title2"></div>
              <div id='code_rightcode' class="code"></div>
            </div>
          </div>
        </div>
        <div class="sw" v-show='shadow_data.prize == 2'>
          <div class="l">
            <ul>
              <li v-for='(item, index) in winningSw' :key='index'>{{item.prizeName}}</li>
            </ul>
            <div class="qr-code">
              <!-- <img :src="imgs.code" alt=""> -->
              <div class="code-title1"></div>

              <div id='sw_leftcode' class="code"></div>
            </div>
          </div>
          <div class="r">
            <div class="content">
              <div class="text-box">
                <h4>你的奖品空空如也~</h4>
                <p>快去钓花灯获取奖励吧！</p>
              </div>
            </div>
          </div>
        </div>
        <div class="all" v-show='shadow_data.prize == 3'>
          <div class="l">
            <ul>
              <li v-for='(item, index) in winningSw' :key='index'>{{item.prizeName}}</li>
            </ul>
            <div class="qr-code">
              <!-- <img :src="imgs.code" alt=""> -->
              <div class="code-title1"></div>

              <div id='all_leftcode' class="code"></div>
            </div>
          </div>
          <div class="r">
            <div class="title">{{winningCode.length ? winningCode[0].prizeName : ''}}</div>
            <div class="code-bg">
              <p>
                {{winningCode.length ? winningCode[0].content : ''}}
              </p>
            </div>
            <div class="qr-code">
              <!-- <img :src="imgs.code2" alt=""> -->
              <div class="code-title2"></div>
              <div id='all_rightcode' class="code"></div>
            </div>
          </div>


        </div>

        <button data-type='4' @click='closeShadow' v-focus class="btn"></button>
      </div>

      <!-- 规则 -->
      <div v-show='shadow_data.type == 5' id="rule">
        <div class="content" v-html='shadow_data.nomal'>

        </div>
        <button data-type='5' @click='closeShadow' v-focus class="btn"></button>

      </div>
    </div>

  </div>


</body>

</html>
<script>

  // 登录 
  function callLoginState(isSuccessed) {
    // 登录之后，需要重新渲染页面
    vm.init(vm)

    if (isSuccessed) {
      // 记录日志-登录成功回调 
      vm.addSysLog('1', '登录成功回调')
    } else {
      // 记录日志-登录失败回调 
      vm.addSysLog('1', '登录失败回调')
    }
  }
  // 返回键
  function callOnBackKey() {
    if (vm.shadow_data.show && vm.shadow_data.type != 0) {
      vm.closeShadow()
    } else {
      TvJsInterface.closePage()

    }
  }


  // 收银
  function callOrderState(isSuccessed) {
    // 订购成功之后，需要重新渲染页面                             

    if (isSuccessed) {
      // 记录日志-订购VIP成功回调
      vm.addSysLog('5', '转化会员成功')
      vm.shadow_data = {
        show: false,
        type: 999, // 0 通用弹窗 1 次数用完 2 中奖 3 未中奖 4 我的奖品
        prize: 999, // 0 没有奖品 1 code 2 实物 3 都有
        nomal: ''
      }
      vm.init(vm)

    } else {
      vm.init(vm)
      if (vm.shadow_data.show) {
        vm.focus_shadow_or_home(1, vm.shadow_data.type)
      }
      // 记录日志-订购VIP失败回调
      vm.addSysLog('4', '转化会员失败')

    }
  }

</script>